<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="${scan:-true}" scanPeriod="${scanPeriod:-60 second}" debug="false">
	<property resource="application.properties" />
	<contextName>${spring.application.name}</contextName>

    <define name="ip" class="com.lishiliang.core.log.IpLogDefiner"/>
    <conversionRule conversionWord="traceId" converterClass="com.lishiliang.core.log.TraceIdConvert" />


    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|${spring.application.name} ${ip}:${dubbo.protocol.port}[%thread]|%traceId|%-5level|%logger{30}-%msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
	</appender>
	
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${application.logfile.path}/${application.logfile.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">      <!-- rollover daily -->
			<fileNamePattern>${application.logfile.path}/${application.logfile.name}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxHistory>2</maxHistory>
			<maxFileSize>500MB</maxFileSize>
		</rollingPolicy>
		<encoder>
			<!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|${spring.application.name} ${ip}:${dubbo.protocol.port}[%thread]|%traceId|%-5level|%logger{20}-%msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	
	<!-- jdbc sql 语句监控 -->
    <appender name="sqlroll_perf" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${application.logfile.path}/${application.logfile.name}-sql.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">      <!-- rollover daily -->
            <fileNamePattern>${application.logfile.path}/${application.logfile.name}-sql-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxHistory>2</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">        <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|${spring.application.name} ${ip}:${dubbo.protocol.port}[%thread]|%traceId|%-5level|%logger{20}-%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    
    <!-- jdbc sql 语句监控 -->
    <appender name="sqlroll_spy" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${application.logfile.path}/${application.logfile.name}-spy-sql.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">      <!-- rollover daily -->
            <fileNamePattern>${application.logfile.path}/${application.logfile.name}-spy-sql-%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <maxHistory>365</maxHistory>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">        <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>500MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}|${spring.application.name} ${ip}:${dubbo.protocol.port}[%thread]|%traceId|%-5level|%logger{20}-%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>
    

    <logger name="p6spy" level="DEBUG" additivity="false">
		<appender-ref ref="sqlroll_spy" />
        <appender-ref ref="console" />
	</logger>
	
	<!-- 此处dao必须匹配到Mybatis.xml中setting的配置 -->
	<logger name="dao" level="DEBUG" additivity="false">
		<appender-ref ref="sqlroll_perf" />
	</logger>

	<logger name="org.springframework" level="INFO"/>
    <logger name="jdbc.sqlonly" level="OFF"/>
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="jdbc.connection" level="OFF"/>
    <logger name="jdbc.resultset" level="OFF"/>
    
    <logger name="com.alibaba.dubbo" level="DEBUG" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </logger>
    
    <logger name="dubbo.accesslog" level="INFO" additivity="false">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </logger>


    <logger name="com.lishiliang.service.ElasticJobService" level="OFF"/>
    <springProfile name="prod">
        <logger name="com.lishiliang.service.ElasticJobService" level="INFO"/>
    </springProfile>
    <springProfile name="dev">
        <logger name="org.apache.dubbo.remoting.exchange.support.header.ReconnectTimerTask" level="OFF"/>
        <logger name="com.lishiliang.listener.CommonJobListener" level="OFF"/>
    </springProfile>
    
	<root level="INFO">
		<appender-ref ref="file" />
		<appender-ref ref="console" />
	</root>
</configuration>